.header {
  width: 100%;
  position: absolute;
  z-index: 1;

  padding: 2.4rem 1rem 1rem;
  font-size: 1.6rem;

  @media (max-width: 800px) {
    padding-bottom: 2.4rem;
  }

  background: linear-gradient(
    90deg,
    rgba(71, 31, 10, 0.75) 25%,
    rgba(32, 32, 32, 0.25) 100%
  );

  img:hover {
    filter: invert(1);
  }

  &__content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 50px;
      @media (min-width: 800px) {
        width: 80px;
      }
    }

    @media (min-width: 1320px) {
      width: 1280px;
    }
  }

  &__navigation {
    &__itens {
      display: flex;
      gap: 3rem;

      a {
        color: #f2f2f2;
      }

      a:hover {
        filter: invert(1);
      }
    }
  }
}
