.hero {
  height: 65vh;
  background: url('./../../../images/banner-opacity.png') no-repeat;
  background-position: center;
  background-size: cover;
  
  @media (min-width: 1023px) {
    background-position: center 65%;
  }

  &__content {
    display: grid;
    place-items: center;
    height: calc(100% + 147px);
    margin: 0 auto;

    img{
      width: 256px;
    }
  }
}
