.container {

  margin-top: 4rem;
  padding: 3.6rem;
  text-align: center;
  font-size: 1.6rem;
  background: linear-gradient(
    45deg,
    rgba(32, 32, 32, 0.25) 0%,
    rgba(70, 30, 10, 0.6) 50%,
    rgba(32, 32, 32, 0.25) 100%
  );

}
