.contact {
  font-size: 1.6rem;

  @media (min-width: 1024px) {
    &__content {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__location {
    img {
      width: 100%;
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;
    }

    &__title {
      font-size: 2.4rem;
    }

    &__info {
      margin-top: 1.6rem;

      li {
        margin: 1.6rem;
      }
    }

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;

      width: 50vw;
      height: 40vh;
      padding: 1.6rem;

      img {
        height: 140px;
        margin-top: 0;
        margin-bottom: 0rem;
      }
    }
  }
}
