.products {

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
    flex-wrap: wrap;

    @media (min-width: 800px) {
      flex-direction: row;
    }
  }
}
